<h1>Edit comment</h1>
<form action="/comment/{{comment._id}}/edit" method="POST">
<label>Comment: </label>
<textarea name="content" id="" cols="30" rows="10">{{comment.content}}</textarea>
<button>Edit Comment</button>
</form>