<head>
   <link href="/stylesheets/signin.css" rel="stylesheet">
</head>
<div class="postsMain">
  <h1>Edit Post</h1>
  <form class="form-signin" id="formEdit" action="/post/{{post._id}}/edit" method="POST"> 
    <label class="postLabel">Post Title:</label>
    <input class="form-control" type="text" name="title" value="{{post.title}}">
    <label class="postLabel">Content: </label>
    <textarea class="form-control" name="content" id="" cols="30" rows="10">{{post.content}}</textarea>
    <button class="btn btn-lg btn-secondary">Edit Post</button>
  </form>
</div>